.p0, .modal1 {
  padding: 0px;
}

.pl0 {
  padding-left: 0px !important;
}

.pLink, .doubleInput label, .btnRadius50, .btn, .btn2, .navM > li {
  padding: 8px 16px;
}

.pwrap-5, .Bicon3coll, .Bicon3coll .judul {
  padding: 5px;
}

.pwrap_5 {
  padding: 0px 5px;
}

.pwrap__5 {
  padding: 5px 0px;
}

.pwrap-10, .wrapContact img {
  padding: 10px;
}

.pwrap_10 {
  padding: 0px 10px;
}

.pwrap__10 {
  padding: 10px 0px;
}

.p10_20 {
  padding: 10px 20px;
}

.p20_10 {
  padding: 20px 10px;
}

.p10_30, .iconInput2 input, .iconInputList input, .List3 input {
  padding: 10px 30px;
}

.pwrap-20 {
  padding: 20px;
}

.pwrap_20 {
  padding: 20px 0px;
}

.pwrap__20 {
  padding: 0px 20px;
}

.pwrap-2p, .form1 .header, .form1 .body, .form1 .footer, .userInfo .boxProfil {
  padding: 2%;
}

.pwrap_2p, .ul1 li {
  padding: 0px 2%;
}

.pwrap__2p {
  padding: 2% 0px;
}

.pwrap-3p, .ul1 li, .minHeader, .containerHome, .wrapContact, .headerM1 ul li {
  padding: 3%;
}

.pwrap_3p {
  padding: 0% 3%;
}

.pwrap__3p {
  padding: 3% 0%;
}

.pwrap-5p, .BiconText .box {
  padding: 5%;
}

.pwrap_5p {
  padding: 0% 5%;
}

.pwrap__5p {
  padding: 5% 0%;
}

.pm0, .ul1, .Bicon3coll h2, body {
  padding: 0px !important;
  margin: 0px !important;
}

.mauto, .sliderM, .userInfo .boxProfil {
  margin: auto;
}

.mauto_ {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mauto__ {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.m0 {
  margin: 0px !important;
}

.mwrap-5, .btnRadius50, .btn, .btn2 {
  margin: 5px;
}

.mwrap-10, .sliderM .cimg, .sliderM .form, .view1 .cimg, .view1 .form {
  margin: 10px;
}

.mwrap-2p {
  margin: 2%;
}

.mwrap_2p {
  margin: 0% 2%;
}

.mwrap__2p {
  margin: 2% 0%;
}

.mwrap_3p {
  margin: 0% 3%;
}

.mwrap__3p {
  margin: 3% 0%;
}

.radius-10, .iconInput2 input, .iconInputList input, .List3 input, .sliderM .cimg, .sliderM .cimg > img, .sliderM .form, .view1 .cimg, .view1 .cimg > img, .view1 .form, .BiconText, .BiconText .box, .Bicon3coll, .btn2, .btnGroup, .userInfo .boxProfil {
  border-radius: 10px;
}

.radius_10, .userInfo #ui_bg {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.radius__10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.boval, .sliderM #kiri, .sliderM #kanan, .wrapContact img {
  border-radius: 50%;
}

.mtop100 {
  margin-top: 100px !important;
}

.bwhite, .userInfo .boxProfil {
  background-color: #fff !important;
}

.cwhite, .bsuccessG-opa2End, .bsuccessG-opa2, .bsuccessG, .bsuccess, .binfoG-opa2End, .binfoG-opa2, .binfoG, .binfo1, .binfo, .bwarningG-opa2End, .bwarningG-opa2, .bwarningG, .bwarning, .bprimaryG-opa2End, .bprimaryG-opa2, .bprimary1, .bprimary, .blightG-opa2End, .blightG-opa2 {
  color: #fff !important;
}

.blight {
  background-color: #e2e2e2 !important;
  color: #343a40 !important;
}

.blight04 {
  background-color: rgba(226, 226, 226, 0.4);
}

.blight08 {
  background-color: rgba(226, 226, 226, 0.8);
}

.blightG-opa2 {
  background-image: linear-gradient(to left, rgba(226, 226, 226, 0), rgba(226, 226, 226, 0.8));
}

.blightG-opa2End {
  background-image: linear-gradient(to right, rgba(226, 226, 226, 0), rgba(226, 226, 226, 0.8));
}

.clight, .userInfo #ui_bg, .bhijauBlueG, .headerM1, .bmutedG-opa2End, .bmutedG-opa2, .bmutedG, .bmuted08, .bmuted04, .bmuted, .bsecondary, .bdark {
  color: #e2e2e2 !important;
}

.bblack {
  background-color: #000 !important;
}

.cblack {
  color: #000 !important;
}

.bprimary {
  background-color: #007bff !important;
}

.bprimary1 {
  background-color: #095f81 !important;
}

.cprimary {
  color: #007bff !important;
}

.bprimaryG-opa2 {
  background-image: linear-gradient(to left, rgba(9, 95, 129, 0.2), rgba(0, 123, 255, 0.8));
}

.bprimaryG-opa2End {
  background-image: linear-gradient(to right, rgba(9, 95, 129, 0.2), rgba(0, 123, 255, 0.8));
}

.bwarning {
  background-color: #f1b100 !important;
}

.cwarning {
  color: #f1b100 !important;
}

.bwarningG {
  background-image: linear-gradient(to left, #f1b100, #7a4606);
}

.bwarningG-opa2 {
  background-image: linear-gradient(to left, rgba(122, 70, 6, 0.2), rgba(241, 177, 0, 0.8));
}

.bwarningG-opa2End {
  background-image: linear-gradient(to right, rgba(122, 70, 6, 0.2), rgba(241, 177, 0, 0.8));
}

.borderBWarning-1 {
  border-bottom: 1px solid #7a4606;
}

.borderBWarning-5 {
  border-bottom: 5px solid #7a4606;
}

.binfo {
  background-color: #17a2b8 !important;
}

.binfo1 {
  background-color: #347a96 !important;
}

.binfo3 {
  background-color: #f1fafb !important;
}

.binfoG {
  background-image: linear-gradient(to left, #17a2b8, #347a96);
}

.binfoG-opa2 {
  background-image: linear-gradient(to left, rgba(52, 122, 150, 0.2), rgba(23, 162, 184, 0.8));
}

.binfoG-opa2End {
  background-image: linear-gradient(to right, rgba(52, 122, 150, 0.2), rgba(23, 162, 184, 0.8));
}

.borderBInfo-1 {
  border-bottom: 1px solid #347a96;
}

.borderBInfo-5 {
  border-bottom: 5px solid #347a96;
}

.borderTInfo-5 {
  border-top: 5px solid #347a96;
}

.borderTBInfo-5 {
  border-bottom: 5px solid #347a96;
  border-top: 5px solid #347a96;
}

.cinfo {
  color: #17a2b8 !important;
}

.borderInfoT5px {
  border-top: 5px solid #347a96;
}

.borderInfoB5px {
  border-bottom: 5px solid #347a96;
}

.bsuccess {
  background-color: #28a745 !important;
}

.csuccess {
  color: #28a745 !important;
}

.bsuccessG {
  background-image: linear-gradient(to left, #28a745, #076b20);
}

.bsuccessG-opa2 {
  background-image: linear-gradient(to left, rgba(7, 107, 32, 0.2), rgba(40, 167, 69, 0.8));
}

.bsuccessG-opa2End {
  background-image: linear-gradient(to right, rgba(7, 107, 32, 0.2), rgba(40, 167, 69, 0.8));
}

.borderBSuccess-1 {
  border-bottom: 1px solid #076b20;
}

.borderBSuccess-5 {
  border-bottom: 5px solid #076b20;
}

.borderTSuccess-5 {
  border-top: 5px solid #076b20;
}

.borderTBSuccess-5 {
  border-bottom: 5px solid #28a745;
  border-top: 5px solid #28a745;
}

.bdanger {
  background-color: #dc3545 !important;
}

.cdanger {
  color: #dc3545 !important;
}

.bdark, .userInfo #ui_bg {
  background-color: #343a40 !important;
}

.cdark, .binfo3 {
  color: #343a40 !important;
}

.bsecondary {
  background-color: #6c757d !important;
}

.csecondary {
  color: #6c757d !important;
}

.bmuted {
  background-color: #6c757d !important;
}

.bmuted04 {
  background-color: rgba(108, 117, 125, 0.4);
}

.bmuted08 {
  background-color: rgba(108, 117, 125, 0.8);
}

.cmuted {
  color: #6c757d !important;
}

.bmutedG {
  background-image: linear-gradient(to left, #6c757d, #3a3f44);
}

.bmutedG-opa2 {
  background-image: linear-gradient(to left, rgba(58, 63, 68, 0.2), rgba(108, 117, 125, 0.8));
}

.bmutedG-opa2End {
  background-image: linear-gradient(to right, rgba(58, 63, 68, 0.2), rgba(108, 117, 125, 0.8));
}

.borderBMuted-1 {
  border-bottom: 1px solid #3a3f44;
}

.borderBMuted-5 {
  border-bottom: 5px solid #3a3f44;
}

.bpurple {
  background-color: #A555EC !important;
}

.bpurple1 {
  background-color: #7d43af !important;
}

.cpurple {
  color: #A555EC !important;
}

.borderpurpleT5px {
  border-top: 5px solid #7d43af;
}

.borderpurpleB5px {
  border-bottom: 5px solid #7d43af;
}

.borange {
  background-color: darkorange !important;
}

.corange {
  color: darkorange !important;
}

.bcoklat {
  background-color: darkorange !important;
}

.ccoklat {
  color: rgb(93, 47, 3) !important;
}

.bnone {
  background: none;
}

.bhijauBlueG, .headerM1 {
  background-image: linear-gradient(to right, #28a745, #347a96);
}

.alfaDark {
  background-color: rgba(52, 58, 64, 0.5);
}

.alfaInfo2 {
  background-color: rgba(44, 62, 80, 0.9);
}

.alfaCoklat {
  background-color: rgba(93, 47, 3, 0.5);
}

.flex, .sliderM .cimg, .view1 .cimg, .navM, .flexR, .doubleInput .double, .iconInput2, .form1 .header, .form1 .header .icon, .form1 .footer, .btn2, .minHeader .headerM, .wrapContact, .headerM1, .userInfo #ui_profil, .userInfo #ui_profil #profil, .flexC, .doubleInput, .iconInput, .iconInputList, .formSimple, .form1, .form1 .body, .BiconText, .Bicon3coll, .minHeader, .containerHome, .headerM1 ul li > .textIcon, .userInfo {
  display: flex;
}

.flexC, .doubleInput, .iconInput, .iconInputList, .formSimple, .form1, .form1 .body, .BiconText, .Bicon3coll, .minHeader, .containerHome, .headerM1 ul li > .textIcon, .userInfo {
  flex-direction: column;
}

.flexR, .doubleInput .double, .iconInput2, .form1 .header, .form1 .header .icon, .form1 .footer, .btn2, .minHeader .headerM, .wrapContact, .headerM1, .userInfo #ui_profil, .userInfo #ui_profil #profil {
  flex-direction: row;
}

.jcE, .form1 .posEnd {
  display: flex;
  justify-content: end;
}

.jcSB, .form1 .header, .minHeader .headerM, .headerM1, .userInfo #ui_profil {
  display: flex;
  justify-content: space-between;
}

.jcSE {
  display: flex;
  justify-content: space-evenly;
}

.jcSA, .doubleInput .double {
  display: flex;
  justify-content: space-around;
}

.jcC, .ul1 li label, .BiconText .box, .Bicon3coll, .wrapContact, .headerM1 ul li span, .userInfo #ui_bg, .userInfo #ui_profil #menu {
  display: flex;
  justify-content: center;
}

.aiE {
  display: flex;
  align-items: end;
}

.aiC, .doubleInput .double, .iconInput2, .iconInputList, .form1 .header .icon, .btn2, .userInfo #ui_bg {
  display: flex;
  align-items: center;
}

.acC {
  display: flex;
  align-content: center;
}

.acE {
  display: flex;
  align-content: end;
}

.scroll {
  overflow: auto;
}

.scroll-10 {
  overflow: auto;
  max-height: 10px;
}

.scroll-200 {
  overflow: auto;
  max-height: 200px;
}

.scroll-300 {
  overflow: auto;
  max-height: 300px;
}

.scroll-400 {
  overflow: auto;
  max-height: 400px;
}

.scroll-600 {
  overflow: auto;
  max-height: 600px;
}

.scroll-800 {
  overflow: auto;
  max-height: 800px;
}

.boxSLeft, .BiconText, .bodyM {
  box-shadow: -2px -5px 5px 0px #343a40;
}

.boxS, .form1, .form1 .body, .boxShadow, .Bicon3coll {
  box-shadow: 0px 1px 10px 1px #343a40;
}

.boxS1px, .form1 .footer {
  box-shadow: 1px 1px 1px 1px #343a40;
}

.positionR-b40, .userInfo .boxProfil {
  position: relative;
  bottom: 40px;
}

.pointer, .btn, .btn2 {
  cursor: pointer;
}

.borderB1 {
  border-bottom: 1px;
  border-bottom-style: dashed;
}

.hidden {
  visibility: hidden;
}

.fzS {
  font-size: 10px;
}

.fzM {
  font-size: 12px;
}

.fzL {
  font-size: 14px;
}

.fzXl, .doubleInput label, .iconInput2 input, .iconInputList input, .List3 input, .ul1 li label, .headerM1 ul li span {
  font-size: 16px;
}

.fzL1, .Bicon3coll h2 {
  font-size: 20px;
}

.fzL2, .navM > li {
  font-size: 25px;
}

.fzL3 {
  font-size: 30px;
}

.fzL4, .userInfo #ui_bg {
  font-size: 40px;
}

.fzL5 {
  font-size: 50px;
}

.fzL6 {
  font-size: 60px;
}

.fnunito {
  font-family: "Nunito", sans-serif;
}

.farial, .Bicon3coll h2 {
  font-family: "Arial", Helvetica, sans-serif;
}

.fBebasNeue, .navM > li {
  font-family: "BebasNeue", BebasNeue-Regular;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../font/Bebas_Neue/BebasNeue-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.fPoppins, .Bicon3coll .judul {
  font-family: "Poppins", Poppins-Regular;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.fpacifico, .userInfo #ui_bg {
  font-family: "pacifico", Pacifico-Regular;
}
@font-face {
  font-family: "pacifico";
  src: url("../font/Pacifico/Pacifico-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.fcookie {
  font-family: "Cookie", Cookie-Regular;
}
@font-face {
  font-family: "Cookie";
  src: url("../font/Cookie/Cookie-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.fdamion {
  font-family: "Damion", Damion-Regular;
}
@font-face {
  font-family: "Damion";
  src: url("../font/Damion/Damion-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.ftaprom {
  font-family: "Taprom", Taprom-Regular;
}
@font-face {
  font-family: "Taprom";
  src: url("../font/Taprom/Taprom-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.tcapital, .Bicon3coll h2 {
  text-transform: capitalize;
}

.tupper, .navM > li {
  text-transform: uppercase;
}

.tbold, .navM > li {
  font-weight: bold;
}

.tjustify {
  text-align: justify;
}

.tcenter, .grid-col3 label {
  text-align: center;
}

.tstart {
  text-align: start;
}

.tend {
  text-align: end;
}

.mxw200 {
  max-width: 200px;
}

.mnw200 {
  min-width: 200px;
}

.w200 {
  width: 200px;
}

.w220 {
  width: 220px;
}

.w230 {
  width: 230px;
}

.mnw240 {
  min-width: 240px;
}

.w240 {
  width: 240px;
}

.w250 {
  width: 250px;
}

.mnw250 {
  min-width: 250px;
}

.mxw300, .Bicon3coll {
  max-width: 300px;
}

.mnw300 {
  min-width: 300px;
}

.w300 {
  width: 300px;
}

.mxw400 {
  max-width: 400px;
}

.mnw400 {
  min-width: 400px;
}

.w400 {
  width: 400px;
}

.mxw500 {
  max-width: 500px;
}

.w500 {
  width: 500px;
}

.mxw600 {
  max-width: 600px;
}

.mw600 {
  min-width: 600px;
}

.mh30 {
  min-height: 30px;
}

.mh80, .boxShadow {
  min-height: 80px;
}

.mh200 {
  min-height: 200px;
}

.mh250 {
  min-height: 250px;
}

.mh300, .userInfo #ui_bg {
  min-height: 300px;
}

.mh500 {
  min-height: 500px;
}

.mh700 {
  min-height: 700px;
}

.w100p {
  width: 100%;
}

.w80p {
  width: 80%;
}

.w60p {
  width: 60%;
}

.w40p {
  width: 40%;
}

.w20p {
  width: 20%;
}

.w90p, .userInfo .boxProfil {
  width: 90%;
}

.w70p, .Bicon3coll .judul {
  width: 70%;
}

.w50p {
  width: 50%;
}

.w30p {
  width: 30%;
}

.w10p {
  width: 10%;
}

.h10 {
  height: 10px;
}

.bodyM {
  margin: auto;
  max-width: 1448px;
}

.minHeader {
  background-image: url("/svg/bg-1.svg");
  background-size: cover;
  height: 721px;
}
.minHeader .headerM {
  min-height: 200px;
}

.minHeaderBg {
  background-image: url("/svg/bg-1-flip.svg");
  background-size: cover;
}

.navM > li {
  display: inline;
  cursor: pointer;
}

.containerHome {
  background-image: url("/svg/bg-2.svg");
  background-position: center;
  border-bottom: 1px solid rgb(190, 175, 175);
}

.wrapContact {
  min-height: 250px;
}
.headerM1 .wrap {
  width: 100%;
}
.headerM1 ul li {
  display: inline-flex;
}
.userInfo .boxProfil {
  border-bottom: 3px solid darkgreen;
}
.userInfo #ui_profil #profil {
  min-width: 300px;
}
.userInfo #ui_profil #profil > img {
  height: 100px;
}
.listNode {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .listNode {
    grid-template-columns: repeat(2, 44%);
    justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .listNode {
    grid-template-columns: repeat(4, 22%);
  }
}
.btnRadius50 {
  border-radius: 50px;
  border: 1px solid #000;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover:not(.dropdown), .btn2:hover:not(.dropdown) {
  opacity: 0.7;
}

.btn2 {
  border: 1px solid #343a40;
}
.btn2 span {
  margin-right: 5px;
}

.btnGroup {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btnGroup ::before, .btnGroup ::after {
  box-sizing: border-box;
}
.btnGroup > .btn:not(:first-child), .btnGroup > .btn2:not(:first-child), .btnGroup .next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btnGroup > .btn:not(:last-child), .btnGroup > .btn2:not(:last-child), .btnGroup .previous {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btnGroup .current {
  border-radius: 0px;
}

.btnGroup-vertical > .btn, .btnGroup-vertical > .btn2, .btnGroup > .btn, .btnGroup > .btn2 {
  position: relative;
  flex: 1 1 auto;
}

#dropdonwUl_ {
  max-width: 13em;
  position: relative;
  width: 100%;
}
#dropdonwUl_ .dropdown-btn {
  background: #1d1f24;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
#dropdonwUl_ ul {
  padding: 0px 5px;
  position: relative;
  z-index: 5;
}
#dropdonwUl_ .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}
#dropdonwUl_ .arrowTop {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform ease-in-out 0.3s;
  border-top: 6px solid #fff;
}
#dropdonwUl_ .dropdown-content {
  list-style: none;
  position: absolute;
  top: 3.5em;
  width: 100%;
}
#dropdonwUl_ .dcTop {
  bottom: 3.8em !important;
  top: unset;
}
#dropdonwUl_ .dropdown-content li {
  background: #2f3238;
}
#dropdonwUl_ .dropdown-content li:hover {
  background: #1d1f24;
}
#dropdonwUl_ .dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
  margin: 0.1em 0;
  text-decoration: none;
}
#dropdonwUl_ .dropdown-content {
  /* ... */
  visibility: hidden;
}
#dropdonwUl_ .dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}
#dropdonwUl_ .dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
}
#dropdonwUl_ .dropdown-btn:focus > .arrowTop {
  transform: rotate(180deg);
}
#dropdonwUl_.dropdown-content {
  /* ... */
  overflow: hidden;
}
#dropdonwUl_ .dropdown-content li {
  /* ... */
  position: relative;
  left: 100%;
  transition: 0.5s;
}
#dropdonwUl_ .dropdown-btn:focus + .dropdown-content li {
  left: 0;
}
#dropdonwUl_ .dropdown-content li {
  /* ... */
  transition-delay: calc(60ms * var(--delay));
}

.btn-glow {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-glow:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn-glow:active {
  color: #000;
}

.btn-glow:active:after {
  background: transparent;
}

.btn-glow:hover:before {
  opacity: 1;
}

.btn-glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.btn-round {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-round:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17a2b8;
  border-radius: 10rem;
  z-index: -2;
}
.btn-round:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #0f6674;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.btn-round:hover {
  color: #fff;
}
.btn-round:hover:before {
  width: 100%;
}

.blob-btn {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0505A9;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505A9;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #0505A9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

.btn-inline {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-inline span {
  transition: all 0.3s;
}

.btn-inline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-inline:hover span {
  letter-spacing: 2px;
}

.btn-inline:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-inline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-inline:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.w3-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.w3-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.w3-switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.w3-switch input:checked + .slider {
  background-color: #0015ff;
}
.w3-switch input:focus + .slider {
  box-shadow: 0 0 1px #0015ff;
}
.w3-switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.w3-switch .slider.round {
  border-radius: 34px;
}
.w3-switch .slider.round:before {
  border-radius: 50%;
}
.w3-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.SM-sw-form-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to top, #28a745, #347a96);
}
.SM-sw-form-body .SM-sw-form {
  width: 350px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
.SM-sw-form-body .SM-sw-form #chk {
  display: none;
}
.SM-sw-form-body .SM-sw-form .signup {
  position: relative;
  width: 100%;
  height: 100%;
}
.SM-sw-form-body .SM-sw-form label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.SM-sw-form-body .SM-sw-form input {
  width: 80%;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.SM-sw-form-body .SM-sw-form button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.SM-sw-form-body .SM-sw-form button:hover {
  background: #6d44b8;
}
.SM-sw-form-body .SM-sw-form .login {
  height: 560px;
  background: #eee;
  border-radius: 60%/10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.SM-sw-form-body .SM-sw-form .login label {
  color: #573b8a;
  transform: scale(0.6);
}
.SM-sw-form-body .SM-sw-form #chk:checked ~ .login {
  transform: translateY(-580px);
}
.SM-sw-form-body .SM-sw-form #chk:checked ~ .login label {
  transform: scale(1);
}
.SM-sw-form-body .SM-sw-form #chk:checked ~ .signup label {
  transform: scale(0.6);
}

.BiconText {
  margin-bottom: 5%;
}
.modal1 {
  background: white;
  max-width: 400px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  animation: fadeInModal1 1s ease both;
}
.modal1::backdrop {
  animation: fadeIn 1s ease both;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

@keyframes fadeInModal1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grid-4c {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  width: 100%;
  grid-gap: 2%;
}

.grid-2c-timeline {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  width: 100%;
  grid-column-gap: 6%;
}

.view1 {
  position: relative;
}
.view1 ::after {
  position: absolute;
  content: "";
  width: 2px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  background: #E47A2E;
}
.view1 .cimg > img {
  height: 250px;
}
.view1 .form {
  max-height: 250px;
  border-left: 3px solid #343a40;
}

.tblCollapse, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.sliderM {
  position: relative;
  display: flex;
  flex-direction: row;
}
.sliderM .cimg > img {
  height: 250px;
}
.sliderM .form {
  max-height: 250px;
  max-width: 500px;
  border-left: 3px solid #343a40;
}
.sliderM #kiri, .sliderM #kanan {
  position: absolute;
  top: 50%;
  box-shadow: inset 0px 0px 20px 4px #91b7c3;
  border: none;
}
.sliderM #kiri {
  left: -30px;
}
.sliderM #kanan {
  right: -30px;
}
.sliderM .form:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ul1 li {
  margin: 0%;
  display: inline;
}
.grid-col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.doubleInput label {
  font-weight: bold;
}
input:checked {
  accent-color: rgb(23, 204, 66);
}

.iconInput2 {
  position: relative;
}
.iconInput2 input {
  width: 100%;
  height: max-content;
}
.iconInput2 span {
  position: absolute;
  left: 10px;
  z-index: 0;
}

.iconInputList {
  position: relative;
}
.iconInputList input {
  width: max-content;
  height: max-content;
}
.iconInputList span {
  position: absolute;
  left: 10px;
  z-index: 0;
}

.List3 {
  display: grid;
  grid-template-columns: repeat(2, 40%);
}
.List3 input {
  width: max-content;
  height: max-content;
}
.List3 span {
  position: absolute;
  left: 10px;
  z-index: 0;
}

.form1 {
  border-radius: 5px;
}
.form1 .header .icon span {
  margin-right: 10px;
}
.form1 .body {
  min-height: 50px;
}
.form1 .footer {
  min-height: 50px;
}
.form1 .absB0 {
  position: absolute;
  bottom: 0px;
  width: 98%;
}

@media screen and (min-width: 800px) {
  .formSimple {
    display: flex;
    flex-direction: row;
  }
  .formSimple .kanan {
    border-left: 5px solid darkgreen;
    border-radius: 10px;
    padding-left: 15px;
  }
  .iconInputList {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    row-gap: 10px;
  }
  .iconInput {
    display: flex;
    flex-direction: row;
  }
  .List3 {
    display: flex;
    flex-direction: row;
  }
}
.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*height: 100px;*/
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  /* == */
  width: 250px;
  /* == */
}

.mcd-menu li {
  position: relative;
  /*float:left;*/
}

.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  color: #777;
  /*text-align: center;
  border-right: 1px solid #E7E7E7;*/
  /* == */
  text-align: left;
  position: relative;
  border-bottom: 1px solid #EEE;
  /* == */
}

.mcd-menu li a i {
  /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/
  /* == */
  float: left;
  font-size: 20px;
  margin: 0 10px 0 0;
  /* == */
}

/* == */
.mcd-menu li a p {
  float: left;
  margin: 0;
}

/* == */
.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}

.mcd-menu li a small {
  display: block;
  font-size: 10px;
}

.mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
  position: relative;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}

.mcd-menu li:hover > a i {
  opacity: 1;
  -webkit-animation: moveFromTop 300ms ease-in-out;
  -moz-animation: moveFromTop 300ms ease-in-out;
  -ms-animation: moveFromTop 300ms ease-in-out;
  -o-animation: moveFromTop 300ms ease-in-out;
  animation: moveFromTop 300ms ease-in-out;
}

.mcd-menu li:hover a strong {
  opacity: 1;
  -webkit-animation: moveFromLeft 300ms ease-in-out;
  -moz-animation: moveFromLeft 300ms ease-in-out;
  -ms-animation: moveFromLeft 300ms ease-in-out;
  -o-animation: moveFromLeft 300ms ease-in-out;
  animation: moveFromLeft 300ms ease-in-out;
}

.mcd-menu li:hover a small {
  opacity: 1;
  -webkit-animation: moveFromRight 300ms ease-in-out;
  -moz-animation: moveFromRight 300ms ease-in-out;
  -ms-animation: moveFromRight 300ms ease-in-out;
  -o-animation: moveFromRight 300ms ease-in-out;
  animation: moveFromRight 300ms ease-in-out;
}

.mcd-menu li:hover > a {
  color: #e67e22;
}

.mcd-menu li a.active {
  position: relative;
  color: #e67e22;
  border: 0;
  /*border-top: 4px solid #e67e22;
  border-bottom: 4px solid #e67e22;
  margin-top: -4px;*/
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
  /* == */
  border-left: 4px solid #e67e22;
  border-right: 4px solid #e67e22;
  margin: 0 -4px;
  /* == */
}

.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  /*top: 0;
  left: 45%;
  border-top: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  /* == */
  top: 42%;
  left: 0;
  border-left: 5px solid #e67e22;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* == */
}

/* == */
.mcd-menu li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid #e67e22;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* == */
@-webkit-keyframes moveFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes moveFromRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  min-width: 200px;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*border-top: 4px solid #e67e22;*/
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  /*top: 130px;*/
  z-index: 1000;
  /* == */
  left: 280px;
  top: 0px;
  border-left: 4px solid #e67e22;
  /* == */
}

.mcd-menu li ul:before {
  content: "";
  position: absolute;
  /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #e67e22;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  /* == */
  top: 25px;
  left: -9px;
  border-right: 5px solid #e67e22;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  /* == */
}

.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  /*top: 100px;*/
  /* == */
  left: 250px;
  /* == */
}

/*.mcd-menu li ul li {
  float: none;
}*/
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
  /* == */
  height: auto;
  /* == */
}

.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}

.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #e67e22;
}

.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  /*left: -14px;*/
  /* == */
  left: -9px;
  /* == */
  border-right: 5px solid #e67e22;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 200px;
}

/*.mcd-menu li.float {
  float: right;
}*/
.mcd-menu li a.search {
  /*padding: 29px 20px 30px 10px;*/
  padding: 10px 10px 15px 10px;
  clear: both;
}

.mcd-menu li a.search i {
  margin: 0;
  display: inline-block;
  font-size: 18px;
}

.mcd-menu li a.search input {
  border: 1px solid #EEE;
  padding: 10px;
  background: #FFF;
  outline: none;
  color: #777;
  /* == */
  width: 170px;
  float: left;
  /* == */
}

.mcd-menu li a.search button {
  border: 1px solid #e67e22;
  /*padding: 10px;*/
  background: #e67e22;
  outline: none;
  color: #FFF;
  margin-left: -4px;
  /* == */
  float: left;
  padding: 10px 10px 11px 10px;
  /* == */
}

.mcd-menu li a.search input:focus {
  border: 1px solid #e67e22;
}

.search-mobile {
  display: none !important;
  background: #e67e22;
  border-left: 1px solid #e67e22;
  border-radius: 0 3px 3px 0;
}

.search-mobile i {
  color: #FFF;
  margin: 0 !important;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  .mcd-menu {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .mcd-menu {
    width: 200px;
  }
  .mcd-menu li a {
    height: 30px;
  }
  .mcd-menu li a i {
    font-size: 22px;
  }
  .mcd-menu li a strong {
    font-size: 12px;
  }
  .mcd-menu li a small {
    font-size: 10px;
  }
  .mcd-menu li a.search input {
    width: 120px;
    font-size: 12px;
  }
  .mcd-menu li a.search buton {
    padding: 8px 10px 9px 10px;
  }
  .mcd-menu li > ul {
    min-width: 180px;
  }
  .mcd-menu li:hover > ul {
    min-width: 180px;
    left: 200px;
  }
  .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
    min-width: 150px;
  }
  .mcd-menu li ul li:hover > ul {
    left: 180px;
    min-width: 150px;
  }
  .mcd-menu li ul li ul li:hover > ul {
    left: 150px;
    min-width: 150px;
  }
  .mcd-menu li ul a {
    font-size: 12px;
  }
  .mcd-menu li ul a i {
    font-size: 14px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mcd-menu {
    width: 50px;
  }
  .mcd-menu li a {
    position: relative;
    padding: 12px 16px;
    height: 20px;
  }
  .mcd-menu li a small {
    display: none;
  }
  .mcd-menu li a strong {
    display: none;
  }
  .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
    display: block;
    font-size: 10px;
    padding: 3px 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #e67e22;
    color: #FFF;
    min-width: 100%;
    text-transform: lowercase;
    font-weight: normal;
    text-align: center;
  }
  .mcd-menu li .search {
    display: none;
  }
  .mcd-menu li > ul {
    min-width: 180px;
    left: 70px;
  }
  .mcd-menu li:hover > ul {
    min-width: 180px;
    left: 50px;
  }
  .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
    min-width: 150px;
  }
  .mcd-menu li ul li:hover > ul {
    left: 180px;
    min-width: 150px;
  }
  .mcd-menu li ul li ul li > ul {
    left: 35px;
    top: 45px;
    border: 0;
    border-top: 4px solid #e67e22;
  }
  .mcd-menu li ul li ul li > ul:before {
    left: 30px;
    top: -9px;
    border: 0;
    border-bottom: 5px solid #e67e22;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  .mcd-menu li ul li ul li:hover > ul {
    left: 30px;
    min-width: 150px;
    top: 35px;
  }
  .mcd-menu li ul a {
    font-size: 12px;
  }
  .mcd-menu li ul a i {
    font-size: 14px;
  }
}
@media only screen and (max-width: 479px) {
  .mcd-menu {
    width: 50px;
  }
  .mcd-menu li a {
    position: relative;
    padding: 12px 16px;
    height: 20px;
  }
  .mcd-menu li a small {
    display: none;
  }
  .mcd-menu li a strong {
    display: none;
  }
  .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
    display: block;
    font-size: 10px;
    padding: 3px 0;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #e67e22;
    color: #FFF;
    min-width: 100%;
    text-transform: lowercase;
    font-weight: normal;
    text-align: center;
  }
  .mcd-menu li .search {
    display: none;
  }
  .mcd-menu li > ul {
    min-width: 180px;
    left: 70px;
  }
  .mcd-menu li:hover > ul {
    min-width: 180px;
    left: 50px;
  }
  .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
    min-width: 150px;
  }
  .mcd-menu li ul li:hover > ul {
    left: 180px;
    min-width: 150px;
  }
  .mcd-menu li ul li ul li > ul {
    left: 35px;
    top: 45px;
    border: 0;
    border-top: 4px solid #e67e22;
  }
  .mcd-menu li ul li ul li > ul:before {
    left: 30px;
    top: -9px;
    border: 0;
    border-bottom: 5px solid #e67e22;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  .mcd-menu li ul li ul li:hover > ul {
    left: 30px;
    min-width: 150px;
    top: 35px;
  }
  .mcd-menu li ul a {
    font-size: 12px;
  }
  .mcd-menu li ul a i {
    font-size: 14px;
  }
}

/*# sourceMappingURL=output.css.map */
