@use '../abstracts/variabel' as _;
@forward '../base/index';


.ul-menu1{
    @extend .flexR,.pm0;
    & li{
        // @extend .pm0;
        margin: 0%;
        @extend .pwrap_2p;
        display: inline;
        @extend .pwrap-3p;
        & label{
            @extend .jcC, .fzXl;
        }
    }
}

.grid-col3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    & label{
        @extend .tcenter;
    }
}


.Flex-b250{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    & .list{
        flex-grow: 2; 
        min-width: 250px;
    }
}